.contact-background-image{
    width: 100%;
    height: 100%;
    background-image: url("/assets/Picture_Dev.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact-floating-container{
    position: absolute;
    float: right;
    right: 125px;
    color: #382666;
    margin-top: 250px;
    width: 600px;
    height: fit-content;
    text-align: center;
    background-color: white;
    border-radius: 136px 19px 19px 19px ;
    padding: 30px;
    font-size: large;
    @media screen and (max-height : 850px) {
        margin-top: 125px;
    }
    @media screen and (max-width : 850px) {
        width: 600px;
        margin-top: 125px;
        left: auto;
        right: auto;
        float:left;
        margin-left: 14%;
        margin-right: 14%;
        width: auto;
    }
}

.contact-title {
    font-size: xx-large;
}

.contact-horizontal-line {
    border: transparent;
    border-top: 1px solid #382666;
    opacity: 60%;
    width: 90%;
    height: 1px;
    margin-top:0;
    margin-bottom: 0;
}