


<div class="contact-background-image">
    <div class="contact-floating-container">
        <p class="contact-title">Contactez nous</p>
        <p>L’équipe de Diamontis informatique est heureuse de vous accueillir de 9h à 17h du lundi au vendredi. N’hésitez pas à nous contacter sur nos différents supports ci-dessous pour vos demandes de projet, de tarifs ou pour tout type de question. Vous pourrez également suivre notre actualité via les réseaux sociaux et nous livrer vos impressions. À bientôt!</p>
        <hr class="contact-horizontal-line"/>
        <app-contact-information [contact]="contactType.adress"></app-contact-information>
        <app-contact-information [contact]="contactType.phone"></app-contact-information>
        <app-contact-information [contact]="contactType.mail"></app-contact-information>

    </div>
</div>

<app-footer></app-footer>