



<div class="about-container-outer">
    <div class="about-pink-header"></div>

    <div class="about-container">
        <div class="about-container-inner">
            <img class="about-illustration" src="assets/Illustration_Pc_Serveurs.svg"/>
        
            <hr class="about-horizontal-line"/>
        
            <ul class="about-columns">
                <li class="about-column">
                    <app-about-column [title]="'Infogérance'"></app-about-column>
                </li>
                <li class="about-column">
                    <app-about-column [title]="'Cloud et serveur local'"></app-about-column>
                </li>
                <li class="about-column">
                    <app-about-column [title]="'Création de site web'"></app-about-column>
                </li>
                <li class="about-column">
                    <app-about-column [title]="'Conception graphique'"></app-about-column>
                </li>
            </ul>
        </div>
    </div>
</div>
<img class="about-image about-image-tl" 
         src="assets/Coin haut gauche rose.svg"/>
<img class="about-image about-image-br" 
    src="assets/Coin bas droit rose.svg"/>