.about-container-outer {
    width: 100%;
    height: 100%;
    background-color: #382666;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
}

.about-pink-header{
    height: 100px;
    width: 100%;
    top: 0%;
    background-color: #DA2C5D;
    opacity: 60%;
    position: absolute;

    @media screen and (max-width : 760px) {
        height: 50px;
    }
}

.about-image {
    height: auto;
    opacity: 60%;
    position: absolute;
}

.about-image-tl {
    margin-top: 100px;
    top: 0;
    left: 0;
    float:left;
    width: 33%;

    @media screen and (max-width : 760px) {
        margin-top: 50px;
    }
}

.about-image-br {
    width: 16%;
    float:right;
    right:0px;
    bottom:0px
}

.about-container {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
}

.about-container-inner {
    padding-top: 100px;
    height: calc(100% - 100px);
    @media screen and (max-width : 760px) {
        padding-top: 50px;
        height: calc(100% - 50px);
    }
    margin: auto;
}

.about-illustration {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    margin-top:  20px;
    margin-bottom:  20px;
    background-color: transparent;
    @media screen and (max-height : 900px) {
        height: 300px;
    }
    @media screen and (max-height : 800px) {
        height: 200px;
    }
    @media screen and (max-height : 700px) {
        height: 0px;
        margin: 0px;
        visibility: collapse;
    }
    @media screen and (max-width : 1200px) {
        height: 0px;
        margin: 0px;
        visibility: collapse;
    }
}

.about-horizontal-line {
    border: transparent;
    border-top: 1px solid #DA2C5D;
    opacity: 60%;
    width: 90%;
    height: 1px;
    margin-top:0;
    margin-bottom: 0;
    @media screen and (max-width : 1200px) {
        height: 0px;
        visibility: collapse;
    }
    @media screen and (max-height : 700px) {
        height: 0px;
        visibility: collapse;
    }
}

.about-columns {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-inline-start: 0%; //parce que on est dans une liste
}

.about-column {
    width: 20%;
    color: #DA2C5D;
    
     @media screen and (max-width : 1200px) {
        width: 40%;
    }

    @media screen and (max-width : 600px) {
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
    }
}